@import '../vars';

/* Стили для затемняющего фона */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

/* Активный класс для отображения overlay */
.overlay.active {
  display: block;
}

/* Отключение прокрутки страницы */
body.no-scroll {
  overflow: hidden;
}